<html>
<style>
  span,
  img {
    vertical-align: middle;
    font-size: 120%;
    font-weight: bold;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    border-bottom: solid rgb(138, 64, 7) 1px;
  }

  li::before {
    content: "\2022";
    display: inline-block;
    width: 1em;
  }

  .lookbook {
    position: static;
  }
  table {
    width: 90%;
  }
</style>

<section class="lookbook">

  
    <table>
      <tr>
        <td>Cart</td>
        <td>
        <td
          style=" display: inline-block;  text-align:right;color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">
          Remove</td></tr>
      
    
    {% for shoe in object_list %}

    {% for shoeimage in shoe.shoeimage_set.all|slice:":1" %}
    
    <tr>
    <td>
      <span style=" display: inline-block; width: 40%"> Id: {{ shoe.pk }} </span>
    </td>
    <td>
      <img src="{{ shoeimage.image.url }}" style="width:100px;height:100px;">
    </td>
    <td>

      <input style="margin-left:20%" type="checkbox" value="{{ shoe.id }}" {{ shoe.cart|yesno:"checked," }}
        onClick="setTimeout(function(){location.reload()}, 100)">
      </td></tr>
    

    {% endfor %}

    {% empty %}
    <p style="text-align:center; margin-top: 100%">Empty cart</p>

    {% endfor %}
  
  </table>

    {% if object_list %}


    <form style="margin-top:6px" method="post" action="{% url 'order_list' %}">
      {% csrf_token %}
      <textarea name="message" placeholder="Notes..."></textarea>
      <p><input type="submit" value="Order" /> </p>
    </form>
    {% endif %}
  
</section>


<script type="module">
  document.querySelector('.lookbook').addEventListener('change', ev => {
    const el = ev.target;
    const pk = el.value;
    const state = el.checked;

    const data = new FormData();
    data.append('cart', state);

    const url = `/shoes/${pk}/cart/`;
    post(url, { body: data });
  })
  function post(url, options) {
    const defaults = {
      method: 'POST',
    };
    const opts = Object.assign({}, defaults, options);
    return fetch(url, opts);
  }
</script>

</html>