<html>
<style>
span, img { vertical-align:middle; font-size: 120%; font-weight: bold;}
ul {
  padding: 0;
  list-style-type: none;
}
li { border-bottom:solid rgb(138, 64, 7) 1px; }
li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
}

.lookbook {
      position: static;
    }

</style>

<section style="display:inline-block" class="lookbook">

<ul style="display:inline-block">
    {% for shoe in object_list %}
   
    {% for shoeimage in shoe.shoeimage_set.all|slice:":1"  %}
        <li style="display:inline-block">
    <span style="display:inline-block"> Id: {{ shoe.pk }} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{{ shoeimage.image.url }}" style="width:100px;height:100px; display:inline-block">
  </span>&nbsp;&nbsp;&nbsp;&nbsp;
  <input style="display:inline-block" type="checkbox" data-id="{{ shoe.id }}" {{ shoe.favourite|yesno:"checked," }} onClick="setTimeout(function(){location.reload()}, 100)">
    </li>
    <lookbook>
    
  </lookbook>
    {% endfor %}

    {% empty %}
    <p style="text-align:center; margin-top: 100%">Empty cart</p>

    {% endfor %}

    
{% if object_list %}
    

<form style="margin-top:6px" method="post" action="{% url 'order_list' %}">
	{% csrf_token %}
	<textarea name="message" placeholder="Notes..."></textarea>
	<p><input type="submit" value="Order" /> </p>
</form>
{% endif %}
</ul>
</section>


<script type="module">
    document.querySelector('.lookbook').addEventListener('change', ev => {
      const el = ev.target;
      const pk = el.dataset.id;
      const state = el.checked;
      
      const data = new FormData();
      data.append('favourite', state);
      
      const url = `/shoes/${pk}/favourite/`;
      post(url, { body: data });
    })
    function post (url, options) {
      const defaults = {
        method: 'POST',
      };
      const opts = Object.assign({}, defaults, options);
      return fetch(url, opts);
  }
</script>
</html>