<html>
<style>
  span,
  img {
    vertical-align: middle;
    font-size: 120%;
    font-weight: bold;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  li {
    border-bottom: solid rgb(138, 64, 7) 1px;
  }
  
  li::before {
    content: "\2022";
    display: inline-block;
    width: 1em;
  }
  
  .lookbook {
    position: static;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border-bottom: 1px solid black;
    text-align: center;
  }
</style>

<section class="lookbook">
  
  {% if user.is_staff %}
  <table>
    {% if object_list %}
    <tr>
      <td>Cart Manage</td>
      <td></td>
      
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Cart</td>
      
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Urgent</td>
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Ordered</td>
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Delivered</td>
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">
      </td>
    </tr>
    
    {% endif %}
    
    
    
    
      {% csrf_token %}
    {% for form in shoe_formset %}
    {% with form.instance as shoe %}
    ​
    <tr>
      <td>
        <span style=" display: inline-block;"> Id: {{ shoe.pk }} </span>
      </td>
      <td>
        <img src="{{ shoe.shoeimage_set.first.image.url }}" style="width:100px;height:100px;">
      </td>
      
      <td>
        <form  method="post">
        <div class="fieldWrapper">
          
          {{ form.cart_user }}
        </div>
         
      </form>
        
      </td>
      
      <td>
      
        <form  method="post">
          <div class="fieldWrapper">
            
            {{ form.urgent_user }}
          </div>
        </form>
      </td>
      
      <td>
            <form  method="post">
            <div class="fieldWrapper">
            {{ form.ordered_user }}
          </div>
        </form>
      </td>
      
      <td>
            <form  method="post">
            <div class="fieldWrapper">
            {{ form.delivered_user }}
          </form>
          </div>
        </td>
      
        
           
        </form>
        
    </tr>
    ​
    {% endwith %}
    {% empty %}
    <p style="text-align:center; margin-top: 100%">Empty cart</p>
    ​
    {% endfor %}
  </table>
  <input style="margin-top:10px" type="submit" value="Submit">

  {% endif %}
  
  {% if not user.is_staff %}
  <table>
    {% if object_list %}
    <tr>
      <td>Cart</td><td></td>
      {% if user.is_staff %}
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Users</td>
      {% endif %}
      <td style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">Urgent</td>
      <td
        style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">
      </td>
      </tr>

    {% endif %}
  

    {% for shoe in object_list %}

    {% for shoeimage in shoe.shoeimage_set.all|slice:":1" %}
    
    <tr>
    <td>
      <span style=" display: inline-block;"> Id: {{ shoe.pk }} </span>
    </td>
    <td>
      <img src="{{ shoeimage.image.url }}" style="width:100px;height:100px;">
    </td>
    {% if user.is_staff %}
      <td>
      {% for user in shoe.cart_user.all %}
      <dl>
      <dt style="text-align: center; color:rgb(87, 87, 87);font-size:12px; left: 0; right: 0;">{{ user }}</dt>
      </dl>
      {% endfor %}
    </td>
    {% endif %}
    
    <td><input name="urgent" type="checkbox" value="{{ shoe.id }}" {% if shoe.pk in urgent_ids %}checked{% endif %}></td>
    <td>

      <button name="cart" value="{{ shoe.id }}"
        onClick="pushParent(); setTimeout(function(){location.reload()}, 100)">Remove</button>
      </td></tr>
    

    {% endfor %}
      
      {% empty %}
      <p style="text-align:center; margin-top: 100%">No favourites</p>
      
      {% endfor %}
      
    </table>
    {% endif %}
    
    {% if not user.is_staff %}
    {% if object_list %}
    
    
    <form method="POST" style="margin-top:6px" action="{% url 'order_list' %}">
      {% csrf_token %}
      <textarea name="message" placeholder="Notes..."></textarea>
      <p><input type="submit" value="Order" /> </p>
    </form>
    {% endif %}
    {% endif %}
    <button onClick="window.location.reload();">&#x21ba;</button>
  </section>
  
  
  <script type="module">
    
    
    document.querySelector('.lookbook').addEventListener('change', ev => {
      const el = ev.target;
      
      if (el.name !== 'urgent') return;
      const pk = el.value;
      
      const state = el.checked;
      console.log(state);
      const data = new FormData();
      data.append('urgent', state);
      
      const url = `/shoes/${pk}/urgent/`;
      post(url, { body: data });
    })
    
    document.querySelector('.lookbook').addEventListener('click', ev => {
      const el = ev.target;
      if (el.name !== 'cart') return;
      const pk = el.value;
      
      const state = el.checked;
      const data = new FormData();
      data.append('cart', false);
      
      const url = `/shoes/${pk}/cart/`;
      post(url, { body: data });
    })

    document.querySelector('.lookbook').addEventListener('change', ev => {
      const el = ev.target;
      
      if (el.name !== 'ordered') return;
      const pk = el.value;
      
      const state = el.checked;
      console.log(state);
      const data = new FormData();
      data.append('ordered', state);
      
      const url = `/shoes/${pk}/ordered/`;
      post(url, { body: data });
    })
    function post(url, options) {
      const defaults = {
        method: 'POST',
      };
      const opts = Object.assign({}, defaults, options);
      return fetch(url, opts);
    }
  </script>
  
  <script type="text/javascript">
    function pushParent() {
      window.opener.document.functionToBeCalledFromChildWindow('my task is over you can proceed');
    }
  </script>
  
  </html>