<meta name="viewport" content="width=500, initial-scale=1" />
<style>
  table {
  border-collapse:collapse
  }
  td, th {
  border:1px solid #ddd;
  padding:8px;
  }
  

  body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 20px 20px;
text-decoration: none;
font-size: 15px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}
  </style>  



<script>
  setTimeout("self.close()", 5000) // after 5 seconds
</script>

<html>

  <div class="topnav">
    <a href="{% url 'logout' %}" class="active">Back</a>
  
  </div>

<head>
  <title>Pagina di Redirect</title>
</head>

<body>
  <p>
    Order sent successfully.<br>
  </p>
</body>

{% if messages %}
<p>
  The following items cannot be ordered:<br>
</p>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</html>