{% load static %}
<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
<style>
.lookbook img { width: 300px; height: auto; } 

.lookbook {
  display: flex;
  flex-flow: row wrap;
}

.lookbook article {
  flex: 0 0 12.5%;
  padding: 0.5rem;
}
dd {
  display: block;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}
dl {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
}
</style>

<section class="lookbook">
    {% for shoe in object_list %}
    <article>
      <img src="{{ shoe.image.url }}">
      <dd>
      <header> {{ shoe.model_name }} </header>
      </dd>
        Brand: {{ shoe.brand }}
        <dl>
        Size: {{ shoe.size }} EU
      </dl>  <dl>
        Heel: {{ shoe.heel_height }} cm
      </dl>  <dl>
       ____________________________________
      </dl>
    </article>
    {% endfor %}
  </section>
