{% load static %}
<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
<style>
.lookbook img { width: 300px; height: auto; } 

.lookbook {
  display: flex;
  flex-flow: row wrap;
}

.lookbook article {
  flex: 0 0 12.5%;
  padding: 0.5rem;
}
</style>

<section class="lookbook">
    {% for shoe in object_list %}
    <article>
      <img src="{{ shoe.image.url }}">
      <header> {{ shoe.model_name }} </header>
      <dl>
        Brand: {{ shoe.model_name }}
      </dl>  <dl>
        Size: {{ shoe.size }}
      </dl>  <dl>
        Heel: {{ shoe.heel_height }}
      </dl>  <dl>
       _____________
      </dl>
    </article>
    {% endfor %}
  </section>
