{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>







/* Basic styling */

[type=checkbox] {
  width: 1rem;
  height: 1rem;
  color: #153b3b;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


/* IE */

[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}









    table {
    border-collapse:collapse
    }
    td, th {
    border:1px solid #ddd;
    padding:8px;
    }
    
  
    body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
  .topnav {
  overflow: hidden;
  background-color: #333;
  }
  
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 10px;
  }
  
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  .topnav a.active {
  background-color: #04AA6D;
  color: white;
  }
    </style>  
  
    <div class="topnav">
    <a href="{% url 'manage' %}?{{ request.GET.urlencode }}" class="active">Back</a>
  
  </div>

  <a style="display: inline-block; margin-top: 2px" href="/brand/?{{ request.GET.urlencode }}" target=”_blank” class="active"><button type="submit">Manage Fields</button></a>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}


    <div>
      <summary>Images</summary>
    {% for shoeimage in shoeimages %}
<img src="{{ shoeimage.image.url }}"
    style="width:300px;height:300px;display: inline-block;">
{% endfor %}
    </div>
    <details>
      <summary>Model help</summary>
      <img src="{% static 'models.jpg' %}">
    </details>
    {{ form.as_p }}
    {{ formset.management_form }}
    <table>
        {% for imageform in formset %}
        {{ imageform }}
        {% endfor %}
    </table>
    <input style="margin-bottom: 4px; margin-left: 4px; margin-top:10px; display: inline-block; padding: 10px 14px; font-size: 11px; text-align: center; cursor: pointer; outline: none; color: #fff; background-color: #153b3b; border: none; border-radius: 7px; text-decoration: none;" type="submit" value="Save">
</form>

<script>document.body.addEventListener("submit", ev => ev.submitter.disabled = true);</script>

{% endblock %}
